@import url('https://fonts.cdnfonts.com/css/rubik');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #F5F2EB;
  background: #111822;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  main{
    width: 100% !important;
    overflow-x: hidden !important;
  }
}
